<h1>Your task overview:</h1>

<% @tasks.each do |task| %>
  <div class="card">
    <div class="card-title">
      <h4><strong> <%= link_to task[:title], task_path(task) %> </strong></h4>
    </div>

    <div class="card-details">
      <em> <%= task.details %> </em>
    </div>

    <% if task.completed? %>
      <a href="#" class="card-tag completed text-center" data-id="<%= task.id %>">Done</a>
      <!-- <div class="card-tag completed text-center">Done</div> -->
    <% else %>
      <a href="#" class="card-tag not-completed text-center" data-id="<%= task.id %>">To Do</a>
    <% end %>


  </div>
<% end %>
